.marker {
  color: "#00ff04";
  font-size: "2rem";
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.fade-y-out-rotate {
  animation: fade-y-out-rotate 1s ease-in-out forwards;
}

.imgWrapper {
  background: url("../../../assets/characters.png") no-repeat -27px -20px;
  background-size: 250px 250px;
  width: 27px;
  height: 40px;
}

@keyframes fade-y-out-rotate {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  100% {
    transform: translateY(-50px) rotateY(360deg);
  }
}
