.marker {
  color: "#00ff04";
  font-size: "2rem";
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.fade-y-out-rotate {
  animation: fade-y-out-rotate 1s ease-in-out forwards;
}

@keyframes fade-y-out-rotate {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  100% {
    transform: translateY(-30px) rotateY(360deg);
  }
}

.map-modal-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.map-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: var(--modal-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.imgWrapper {
  background: url("../../../assets/characters.png") no-repeat -27px -20px;
  background-size: 250px 250px;
  width: 27px;
  height: 40px;
}
