.headercontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: none;
  height: 50px;
  margin: 0;
  padding: 0;
}
.left-section {
  display: flex;
  height: 100%;
  width: 80px;
  align-items: center;
}
.center-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.right-section {
  display: flex;
  height: 100%;
  width: 80px;
}
.headertext {
  display: flex;
  align-items: center;
  font-size: x-large;
  height: 100%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: xx-large;
}
