.walkingmaincontainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  overflow-y: auto;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.walkingmaininfolist {
  display: flex;
  flex-direction: column;
}
.walkingmaininfo {
  display: flex;
  flex-direction: column;
  height: 10%;
  margin-left: 20px;
}
.walkingmaininfotext1 {
  margin: 0;
  font-size: var(--font-xl);
  font-weight: 500;
}
.walkingmaininfotext2 {
  margin: 0;
  font-size: var(--font-sm);
  color: gray;
  margin-top: 5px;
}
.walkingmaininfocontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 15px;
}
