.wm-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* 헤더 */
.wm-infocontainer1 {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.wm-info {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 80%;
  justify-content: center;
}
.wm-infotext1 {
  margin: 0;
  font-size: var(--font-xl);
  font-weight: 500;
}
.wm-infotext2 {
  margin: 0;
  font-size: var(--font-sm);
  color: gray;
  margin-top: 5px;
}
/*  */

/* 선 */
.wm-line {
  width: 10%;
  height: 6px;
  min-height: 6px;
  background-color: #ddd;
  margin-top: 16px;
  border-radius: 24px;
  position: relative;
}

/* 산책로 카드 */
.wm-info-list {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  height: 20vh;
  overflow-y: auto;
  z-index: 1000;
  overflow-y: auto;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.wm-info-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.wm-info-header div {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  width: 30%;
}

.wm-info-header div.wm-info-header-selected {
  color: var(--toss-blue);
  border-bottom: 1px solid var(--toss-blue);
}

.wm-infocontainer2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.wm-map-wrapper {
  width: 100%;
  height: 70vh;
}

/* 산책로 카드  */

.wm-card-wrapper {
  position: relative;
  width: 90%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 12px;
}

.wm-card-wrapper.seleted {
  border: 2px solid var(--toss-blue);
}

.wm-card-img {
  background-image: url("http://localhost:3000/image/bukhansan-dule-gil.jpg");
  background-size: cover;
  background-position: center;
  width: 84px;
  height: 84px;
  border-radius: 8px;
}

.wm-card-content {
  display: flex;
  flex-direction: column;
}

.wm-card-content-title {
  font-size: var(--font-md);
  color: #111;
  margin-bottom: 2px;
}
.wm-card-content-des {
  font-size: var(--font-sm);
  color: #333;
}

.wm-card-content-marker {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
