.shoppingpage-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.shoppingpage-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5%;
  width: 80%;
}
.shoppingpage-item-img {
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.shoppingpage-item-text {
  margin-top: 10px;
  font-size: var(--font-md);
}
.shoppingpage-item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.shoppingpage-item-price-text {
  font-size: var(--font-xl);
}
.shoppingpage-item-discount-text {
  color: red;
  font-size: var(--font-xl);
  margin-right: 10px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.shoppingpage-heart {
  display: flex;
  position: absolute;
  bottom: 90px;
  right: 10px;
  color: var(--toss-gray);
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.shoppingpage-heart.liked {
  color: red;
  opacity: 0.7;
}
.shoppingpage-item-delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(205, 222, 255);
  color: var(--toss-blue);
  font-size: var(--font-sm);
  width: 80px;
  height: 80%;
  padding: 3px;
  margin-left: 10px;
}
