.common-setting-btn {
  display: flex;
  width: 95%;
  padding: 20px 8px;
  height: 60px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.1s ease-in-out;
}

.common-setting-btn:active {
  transform: scale(0.98);
}
.common-setting-btn:hover {
  background-color: rgb(236, 236, 236);
  color: black;
}

.common-setting-btn-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-setting-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
