.inventory-container {
  padding-bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin: 0;
}
.character-viewer {
  position: relative;
  width: 100%;
  height: 350px;
  max-height: 350px;
  border: 1px solid #ccc;
  background-color: lightblue;
  flex-shrink: 0;
}
.inventory {
  width: 100%;
  height: calc(100% - 350px);
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  z-index: 2;
}
.inventory-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inventory-select {
  flex: 1;
  text-align: center;
  margin-top: 15px;
  color: var(--toss-gray);
  font-weight: 600;
  font-size: 17px;
  /* transition: all 0.3s ease; */
  transition-duration: 0.1s;
}
.inventory-select:active {
  font-size: 16px;
}
.inventory-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;

  overflow-y: auto;
}
.Inventory-item {
  background-color: var(--toss-light-gray);
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin: 13px;
  transition: all 0.3s ease;
}
.Inventory-item:hover {
  outline: 3.5px solid var(--toss-gray);
  outline-offset: -3.5px;
}
.Inventory-item.selected {
  outline: 3.5px solid var(--toss-blue);
  outline-offset: -3.5px;
}
