.common-basic-btn {
  display: flex;
  width: 100%;
  padding: 16px 8px;
  height: 74px;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.1s ease-in-out;
}

.common-basic-btn:active {
  transform: scale(0.98);
}
.common-basic-btn:hover .common-basic-btn-img-wrapper {
  background-color: rgb(236, 236, 236);
  color: black;
}

.common-basic-btn-img-wrapper {
  width: 10%;
  max-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-basic-btn-des {
  width: 70%;
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-line;
}
.common-basic-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
