.badge-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--modal-radius);
  outline: none;
  padding: 20px;
  text-align: center;
  z-index: 1050;
}

.badge-detail > div > img {
  width: 300px;
}

.badge-detail > div > p {
  font-size: var(--font-lg);
  font-weight: 600;
}

.badge-rotating-badge {
  animation: rotate-axis 8s linear infinite;
}
@keyframes rotate-axis {
  from {
    transform: perspective(800px) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateY(360deg);
  }
}
