.main-container {
  width: 100%;
  max-width: 767px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

/* 캐릭터 레이아웃  */
.main-character-wrapper {
  width: 100%;
  height: 200px;
  background-color: gray;
  margin-bottom: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
