@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");
@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");

:root {
  /* font-family: tossface; */
  font-family: "Toss Product Sans";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 색상 */
  --toss-blue: #0064ff;
  --toss-gray: #202632;
  --toss-light-gray: #d9d9d9;
  --toss-blue: #0064ff;
  --toss-background: #f3f4f6;

  /* 폰트 크기  */
  --font-xs: 10px;
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-2xl: 28px;
  /* 패딩 */
  --main-padding: 12px;

  /* radius */
  --button-radius: 10px;
  --modal-radius: 15px;
}

/* body {
  background-color: #f3f4f6;
} */
/* 스크롤바 숨기기  */
body {
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

/* 초기화 코드 추가*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

/* css 폰트 크기 클래스 */
.font-xs {
  font-size: var(--font-xs);
}
.font-sm {
  font-size: var(--font-sm);
}
.font-md {
  font-size: var(--font-md);
}
.font-lg {
  font-size: var(--font-lg);
}
.font-xl {
  font-size: var(--font-xl);
}
.font-2xl {
  font-size: var(--font-2xl);
}

.emojifont {
  font-family: tossface;
}
