.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: var(--modal-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  z-index: 1050;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--toss-gray);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-icon {
  font-family: tossface;
  font-size: 40px;
  margin-bottom: 10px;
}

.modal-message {
  font-size: 16px;
  color: var(--toss-gray);
  margin: 0;
  margin-bottom: 3px;
}

.reward-button {
  width: 100%;
  background: var(--toss-blue);
  color: white;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: var(--button-radius);
}
.modal-small-button {
  padding: 5px 10px;
  margin: 7px;
  margin-top: 15px;
  border-radius: 7px;
  color: white;
}

.modal-cancel {
  background: red;
}

.modal-confirm {
  background: var(--toss-blue);
}

.rm-reward-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  background-repeat: no-repeat;
}

.sound-volume-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: var(--toss-blue);
  outline: none;
  border-radius: 40px;
  opacity: 1;
  transition: opacity 0.2s;
}
.sound-volume-bar:active {
  opacity: 0.8;
}
.sound-volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
