.roulette-modal-content {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  background-color: white;
}

.roulette-modal-header {
  display: flex;
  margin-bottom: 10px;
}
.roulette-modal-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.roulette-modal-title-text {
  display: flex;
  margin-left: 5%;
  font-weight: bold;
}
.roulette-modal-exit {
  display: flex;
  justify-content: flex-end;
}

.roulette-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roulettePin {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: var(--toss-gray);
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}
.rouletteOuter {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid var(--toss-blue);
  overflow: hidden;
  margin-top: 60px;
}
.roulette {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 3s ease-out;
}

.roulette-wheel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  transform: rotate(0deg);
}

.roulette-item {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  padding-top: 10px;
  font-size: var(--font-xl);
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  z-index: 2;
}

.spinning .roulette {
  animation: spin 3s ease-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(var(--final-rotation, 1440deg));
  }
}

.roulette-line {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--toss-blue);
  transform-origin: center center;
  margin-left: -1px;
  z-index: 1;
}
.rouletteBtn {
  position: absolute;
  bottom: 5%;
  padding: 16px;
  font-size: var(--font-md);
  font-weight: 600;
  background-color: var(--toss-blue);
  color: white;
  width: 80%;
  text-align: center;
  border-radius: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.rouletteBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.roulette-animation-title-wrapper {
  width: 100%;
  padding: 12px 28px;
  font-size: var(--font-xl);
  font-weight: 700;
}

.roulette-m-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: none;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 200;
}
.roulette-m-left-section {
  display: flex;
  height: 100%;
  width: 80px;
  align-items: center;
  cursor: pointer;
}
