.hatchery-page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 320px;
  background-color: white;
  padding-top: 40px;
  gap: 8px;
  background-image: url("../../assets/hatchery1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hatchery-page-progress-bar-wrapper {
  width: 65%;
  height: 20px;
  background-color: #b7b7b7;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: block;
}

.hatchery-page-progress-bar {
  height: 100%;
  width: 0%;
  background-color: var(--toss-blue);
  transition: all 2s ease-in-out;
  border-radius: 10px;
  z-index: 100;
}

.hatchery-page-Hatchery-img {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../assets/hatchery.png") no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}

.hatchery-page-egg-img {
  position: absolute;
  user-select: none;
}

.hatchery-page-progress-bar-static {
  height: 100%;
  width: 0%;
  background-color: var(--toss-blue);
  border-radius: 10px;
  z-index: 100;
}

.hatchery-page-egg-img-droped {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 82px;
  user-select: none;
}
.hatchery-page-egg-img-droped.cursor {
  cursor: pointer;
}

.rotate-egg {
  animation: shake 1s ease-in-out infinite alternate;
}

@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
}

.scale-egg {
  animation: eggScale 1s ease-in-out infinite alternate;
}

@keyframes eggScale {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

.hatchery-page-pet-modal-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hatchery-page-pet-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 280px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: var(--modal-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hatchery-page-pet-img {
  width: 140px;
  height: 140px;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 28px;
}

.hatchery-page-pet-info {
  font-size: 14px;
}
