@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");
@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");
:root {
  /* font-family: tossface; */
  font-family: "Toss Product Sans";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-color: #fff;
  --toss-blue: #0064ff;
  --toss-gray: #202632;
  --toss-light-gray: #d9d9d9;

  /* radius */
  --button-radius: 10px;
  --modal-radius: 15px;
}
