@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");
:root {
  /* font-family: tossface; */
  font-family: Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-color: #fff;
  --toss-blue: #0064ff;
  --toss-gray: #202632;
}
