@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");
:root {
  font-family: tossface;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-color: "#fff";
}
